$main-color: #ff5a00;
body {
 background-color: #f8f9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg{

  &-orange{
    background-color: $main-color;
  }
}

.brand{
  &-primary{
    color: $main-color;
    font-size: 2.5rem;
    display: flex;
    transition: all .2s;
    &:hover, &:focus{
      color: $main-color;
      text-decoration: none;
      transform: scaleY(1.2);
    }
  }
  &-secondary{
   font-size: 1rem;
   margin-top: .5rem;
   padding-left: .5rem;
  }
}

.img-container {
  width: 3rem;
  height: 3rem;
  background-position: center;
  background-size: cover;
  border-radius: 59%;
}
.note {
  position: absolute;
  top: 0;
  right: 0;
  padding: .15rem .6rem;
  border-radius: 50%;
  font-size: .8rem;
  color: white;
}

.notepar{
  position: relative;
}

.text-orange{
  color: $main-color;
}

.sphere{
  border-radius: 50%;
}

.user-link{
  text-decoration: underline;
}

.date{
  font-size: .8rem;
}

.like{
  border: 0;
  padding: .5rem .7rem;
  border-radius: 50%;
}

.like-reverse{
  transform: rotate(180deg);
}

.outline-green{
  border: 1px solid green;
}

.like-num{
  padding: 1rem;
}